@media screen and (max-width: 1100px) {
  .hero__section-text h1 {
    font-size: 70px;
  }
  .hero__section-text-para {
    font-size: 15px;
    padding: 50px;
    margin-top: 0px;
  }
  .section__product h2 {
    font-size: 50px;
    padding: 0;
  }
  .conteiner__info {
    display: flex;
    flex-direction: column;
  }
  .conteiner__info-p {
    display: none;
  }

  .conteiner__info-h3 {
    font-size: 15px;
  }
  .conteiner__info img {
    width: 180px;
    height: 180px;
  }

  .section_about-conteiner {
    margin-bottom: 20px;
  }
  .section_about-text p {
    font-size: 15px;
    margin: 0;
  }
  .section_about-conteiner img {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .section_about-cards {
    margin-top: 0;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .section_about-cards-info {
    padding: 10px 0px;
  }

  .section_about-cards-info i {
    font-size: 25px;
  }

  .section_about-cards p {
    font-size: 10px;
  }
  .section_about-cards {
    padding: 0px 30px;
  }

  .section__contac-iframe {
    height: 450px;
    width: 350px;
  }
  .section__contac-conteiner li {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .hero__section-text h1 {
    font-size: 70px;
  }
  .hero__section-text-para {
    font-size: 15px;
    padding: 50px;
    margin-top: 0px;
  }
  .section__product h2 {
    font-size: 50px;
    padding: 0;
  }

  .conteiner__info {
    display: flex;
    flex-direction: column;
  }

  .conteiner__info-p {
    display: none;
  }

  .conteiner__info-h3 {
    font-size: 15px;
  }
  .conteiner__info img {
    width: 180px;
    height: 180px;
  }

  .section_about-conteiner {
    margin-bottom: 20px;
  }
  .section_about-text p {
    font-size: 15px;
    margin: 0;
  }
  .section_about-conteiner img {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .section_about-cards {
    margin-top: 0;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .section_about-cards-info {
    padding: 10px 0px;
  }

  .section_about-cards-info i {
    font-size: 25px;
  }

  .section_about-cards p {
    font-size: 10px;
  }
  .section_about-cards {
    padding: 0px 30px;
  }

  .section__contac-iframe {
    height: 450px;
    width: 350px;
  }
  .section__contac-conteiner li {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .toggle-menu {
    display: flex;
  }

  .nav-ul {
    left: 5%;
    width: 90%;
    height: 400px;
    background: rgb(20, 17, 21);
    background: linear-gradient(
      0deg,
      rgba(20, 17, 21, 1) 0%,
      rgba(76, 43, 54, 1) 100%
    );
    border-top: none;
    border-radius: 0 0 25px 25px;
    flex-direction: column;
    position: absolute;
    top: 80px;
    z-index: 50;
    display: none;
  }

  .menu-burger {
    display: block;
  }

  #toggle-menu:checked + .nav-ul {
    display: flex;
  }

  .nav-ul img {
    display: none;
  }
  .section_about-conteiner img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    max-width: 130px;
    min-width: 65px;
  }
  .section_about-conteiner img {
    display: none;
  }
  .section__contac-h2 {
    font-size: 50px;
  }
  .section__contac-iframe {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    max-width: 100px;
    min-width: 60px;
  }
  .menu-burger {
    height: 30px;
    width: 30px;
  }
  .section_about-text h2 {
    font-size: 50px;
  }
}
